<!-- /*
    @Description: vf page that will auto create Box Folder for existing Partner Records
    @Author: Rexie David - Positive Group
    @History:
        -  2/04/19 - RDAVID Created for extra/tasks24059615-PartnerObjectBox
*/ -->
<apex:page showHeader="false" extensions="Box_PartnerAutoCreateCC" standardController="Partner__c" action="{!autocreateBoxFolder}">
    <apex:pageMessages />
</apex:page>