<!--
  @Page Name          : ConsoleSideBarParentVF.page
  @Description        : 
  @Author             : jesfer.baculod@positivelendingsolutions.com.au
  @Group              : 
  @Last Modified By   : jesfer.baculod@positivelendingsolutions.com.au
  @Last Modified On   : 14/09/2019, 10:35:25 am
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  2.0    02/08/2019, 7:30:36 am   jesfer.baculod@positivelendingsolutions.com.au     Updated API Version of Console scripts, added CreateCaseCommentsLC
  2.1	 14/09/2019, 10:30 am	  jesfer.baculod@positivelendingsolutions.com.au     Added support of displaying Notes for Partner object
-->
<apex:page showHeader="false">
	<apex:includeScript value="/support/console/45.0/integration.js"/>
	<apex:includeScript value="/soap/ajax/45.0/connection.js" />
	<apex:includeScript value="/soap/ajax/45.0/apex.js" />

	<apex:outputpanel id="opcontainer">

		<apex:outputpanel id="opscripts">
			<script type="text/javascript">

		      	var callback = function (result) {};
		      	var curTabID;

		      	console.log('parent');
		      	getFocusedPrimaryTabId();
		      	setSidebarVisible(false);
		      	getFocusedSubtabObjectId();
	         
	         	function setSidebarVisible(show) {
					console.log('>> setSidebarVisible');
					console.log('curTabID: '+curTabID);
	           		sforce.console.setSidebarVisible(show,curTabID,sforce.console.Region.RIGHT,callback);
	      		}

		      	function getFocusedPrimaryTabId() {
		        		sforce.console.getFocusedPrimaryTabId(showTabId);
		    	}

		    	function getEnclosingPrimaryTabObjectId(){
		    		sforce.console.getEnclosingPrimaryTabObjectId(showObjectId);
		    	}

		    	var showTabId = function showTabId(result) {
				    //Display the tab ID
		        	console.log('Tab ID: ' + result.id);
		        	curTabID = result.Id;
		        	console.log('Primary Tab:'+curTabID);
		    	};

		      	function getFocusedSubtabObjectId() {
		            sforce.console.getFocusedSubtabObjectId(showObjectId);
		        }
		            
	            var showObjectId = function showObjectId(result) {
	            	console.log('@parent Primary Tab:'+curTabID);
	                // Display the object ID
	            	console.log('@parent Object ID: ' + result.id);
	            	var resID = result.id;
	            	if (resID.startsWith('500')){ //SubTab is a Case
						//location.href = '/apex/CreateCaseComments?sub=1&id='+resID; //Open Case Comments Sidebar
						//JBACU 08/02/19 tasks/25398939
						location.href = '/apex/CreateCaseCommentsLC?sub=1&id='+resID; //Open Case Comments Sidebar
	            		setSidebarVisible(true);
	            	}
	            	else if(resID.startsWith('006') || resID.startsWith('00Q') || resID.startsWith('a48')){ //Focused SabTab is an Opportunity / Lead / Partner
	            		location.href = '/apex/CreateNotes?id=' + resID; //Open Notes Sidebar
	            		setSidebarVisible(true);
	            	} 
	            	else{
	            		location.href = '/apex/ConsoleSideBarParentVF';
	            		setSidebarVisible(false);
	            	}
	        	};

		      	var onFocusEvent = function (result){
		                console.log('Parent VF in focus');
		                getFocusedSubtabObjectId();
		        };

		        var onRefreshEvent = function (result){
		                console.log('@parent Record Tab refresh');
		                //refreshNotes();
		                getEnclosingPrimaryTabObjectId();
		        };

		        sforce.console.onFocusedSubtab(onFocusEvent);
		        sforce.console.onEnclosingTabRefresh(onRefreshEvent);


			</script>
		</apex:outputpanel>

	</apex:outputpanel>

</apex:page>