<apex:page showHeader="false" standardController="Role__c">
	
	<apex:includeLightning rendered="true"/>
	<div id="lightning" />

	<script>
		var recordId = "{!$CurrentPage.parameters.id}";
		$Lightning.use(
			"smagicinteract:conversationApp", 
			function() {
				$Lightning.createComponent(
					"smagicinteract:conversations",
					{
						 recordId : recordId,
						 sObjectName : "Role__c",
						 phoneFieldCSV : "",
						 embedContext : "detail"
					},
					"lightning",
					function(cmp) {
					}
				);
			}
		);
	</script>
</apex:page>