<!--
  @Page Name          : CreateCaseCommentsLC.page
  @Description        : 
  @Author             : jesfer.baculod@positivelendingsolutions.com.au
  @Group              : 
  @Last Modified By   : jesfer.baculod@positivelendingsolutions.com.au
  @Last Modified On   : 02/08/2019, 6:27:59 am
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    01/08/2019, 7:16:57 am   jesfer.baculod@positivelendingsolutions.com.au     Initial Version
-->

<apex:page showheader="false">
    <apex:includeScript value="/support/console/45.0/integration.js" />

    <!-- This loads the JavaScript file needed to use Lightning Components for Visualforce-->
    <apex:includeLightning />
    
    <apex:form id="mainFrm">
        <apex:outputpanel id="opContainer" >
            <!-- div tag act as locator while calling Lightning.createComponent -->
            <div id="lightning"/>
            
            <script>
                //Console
                $Lightning.use("c:CaseCommentApp", function() {
                    console.log('Current Param ID: {!$CurrentPage.parameters.id}');
                    createCaseCommentsLC();
                }); 


                function createCaseCommentsLC(){
                    $Lightning.createComponent("c:CaseComments",
                    { recordId : '{!$CurrentPage.parameters.id}' },
                    "lightning",
                    function(cmp) {
                        console.log('hello lightning from VF');
                    });
                }
                
            </script> 
        </apex:outputpanel>
    </apex:form>

</apex:page>