<apex:page tabStyle="Loan_Document_Request_Form_CT__c" controller="LoanDocumentRequestFormCaseNMCC" sidebar="false">
    <apex:includeScript value="/support/console/30.0/integration.js"/>
    <style>
        #overlay{
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0.5); /* rgba(0,0,0,0.2); Black background with opacity */
            z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        #ovdiv{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
    </style>
    <apex:sectionHeader title="Loan Document Request" subtitle="{!cse.CaseNumber}" />
    <apex:form id="mainFrm">
        <script>
            var closeSubtab = function closeSubtab(result) {
                var tabId = result.id;
                console.log(tabId);
                sforce.console.closeTab(tabId);
                };
            
            var showTabId = function showTabId(result){
                    var tabId = result.id;
                    console.log(tabId);
                    sforce.console.refreshPrimaryTabById(tabId , true);
            };

            function saveRedirect(){
                if ('{!hasErrors}' == 'false'){
                    if (sforce.console.isInConsole()){ 
                        sforce.console.getEnclosingPrimaryTabId(showTabId);
                        sforce.console.setTabTitle('{!cloanReq.Name}');
                        window.location.href = '/{!loanReq.Id}?isdtp=vw';
                    }
                    else window.location.href = '/{!loanReq.Id}';
                }
            }

            function exit(){
                console.log(sforce.console.isInConsole());
                if (sforce.console.isInConsole()){
                    console.log('a');
                    console.log(sforce.console.getEnclosingTabId(closeSubtab));
                    sforce.console.getEnclosingPrimaryTabId(showTabId);
                    sforce.console.getEnclosingTabId(closeSubtab);
                    //setSidebarVisible(false);
                }
                else{
                    console.log('b');
                    window.location.href = '/{!cse.Id}';
                }
            }

            function setTabTitle() {
                console.log('IsinConsole:'+sforce.console.isInConsole());
                if (sforce.console.isInConsole()){
                    sforce.console.setTabTitle('Loan Document Request');
                }
            }

            var previousOnload = window.onload;        
            window.onload = function() { 
                if (previousOnload) { 
                    previousOnload();
                }
                if (sforce.console.isInConsole()){                
                    setTimeout('setTabTitle()', '500'); 
                }
            }

        </script>
        <apex:actionFunction name="afSave" action="{!saveLDR}" rerender="mainFrm" status="status1" oncomplete="saveRedirect();" />
        <div id="overlay">
            <div id="ovdiv"><img src="/img/loading.gif" /></div>
        </div>
        <apex:actionStatus id="status1" onstart="document.getElementById('overlay').style.display = 'block';" onstop="document.getElementById('overlay').style.display = 'none'; " style="align:left;" />

        <apex:pageBlock mode="edit">
            <apex:pageMessages />
            <apex:pageBlockButtons >
                <apex:outputlabel value="Save" onclick="afSave();" styleclass="btn" style="padding: 4px;" rendered="{!showLDR}" />
                <apex:outputlabel value="Cancel" onclick="exit();" styleclass="btn" style="padding: 4px;" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" title="Docs Request Checklist" rendered="{!showLDR}">
                <apex:outputField value="{!cse.Approval_Conditions__c}" />
                <apex:inputCheckbox value="{!loanReq.Payout_Valid_min_5_days__c}" />
                <apex:pageBlockSectionItem />
                <apex:inputCheckbox value="{!loanReq.Payout_Letter_in_File__c}" />
                <apex:pageBlockSectionItem />
                <apex:inputCheckbox value="{!loanReq.Received_Insurance_Waiver__c}" />
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" rendered="{!showLDR}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Notes To Lender"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputTextArea value="{!loanReq.Notes_to_Lender__c}" rows="10" style="width: 300px;" />
                    </apex:outputpanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Notes To Support"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputTextArea value="{!loanReq.Notes_To_Support__c}" rows="10" style="width: 250px;" />
                    </apex:outputpanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" title="Finance Details" rendered="{!showLDR}">
                <apex:outputField value="{!cse.Lender1__c}" />
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>