<apex:page standardController="Address__c" extensions="AddressExtension">
    <apex:includeScript value="/support/console/30.0/integration.js"/>
    <style>
        #overlay{
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0.5); /* rgba(0,0,0,0.2); Black background with opacity */
            z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        #ovdiv{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
    </style>
    <apex:sectionHeader title="Address Edit" subtitle="New Address" />
    <apex:form id="mainFrm">
        <div id="overlay">
            <div id="ovdiv"><img src="/img/loading.gif" /></div>
        </div>
        <apex:actionStatus id="status1" onstart="document.getElementById('overlay').style.display = 'block';" onstop="document.getElementById('overlay').style.display = 'none'; " style="align:left;" />
    <apex:pageBlock mode="edit">
        <apex:pageMessages rendered="{!hasErrors}" />
        <apex:pageBlockSection title="Address Information" columns="2">
            <apex:repeat value="{!$ObjectType.Address__c.FieldSets.Address_Full_Address}" var="adrFA" >                            
                <!-- <apex:outputField value="{!addr[adrFA.FieldPath]}" rendered="{!IF(adrFA.Label == 'Location',false,true)}"  /> -->
                <apex:inputField value="{!addr[adrFA.FieldPath]}" rendered="{!IF(adrFA.Label == 'Location',true,false)}" >
                    <apex:actionSupport event="onchange" status="status1" action="{!populateAddresswithLocation}" rerender="mainFrm" />
                </apex:inputField>
            </apex:repeat>
            <apex:repeat value="{!$ObjectType.Address__c.FieldSets.Address_Full_Address_2}" var="adrFA2" >                            
                <apex:pageBlockSectionItem rendered="{!IF(OR(adrFA2.Label == 'Street Number',adrFA2.Label == 'Street Name', adrFA2.Label == 'Street Type'),false,true)}">
                    <apex:outputLabel value="{!adrFA2.Label}" />
                    <apex:outputpanel >
                        <apex:outputField value="{!addr[adrFA2.FieldPath]}" rendered="{!IF(AND(addr.Location__c != null, adrFA2.Label != 'Street Number',adrFA2.Label != 'Street Name', adrFA2.Label != 'Street Type'),true,false)}"/>
                        <apex:outputText style="color: red;" value="-Select Location-" rendered="{!IF(AND(addr.Location__c == null, adrFA2.Label != 'Street Number',adrFA2.Label != 'Street Name', adrFA2.Label != 'Street Type'),true,false)}" />
                    </apex:outputpanel>
                </apex:pageBlockSectionItem>
                <apex:inputField value="{!addr[adrFA2.FieldPath]}" required="true" rendered="{!IF(OR(adrFA2.Label == 'Street Number',adrFA2.Label == 'Street Name', adrFA2.Label == 'Street Type'),true,false)}" />
            </apex:repeat>
        </apex:pageBlockSection>
        <apex:pageBlockButtons >
            <apex:commandButton value="Save" action="{!addrSave}" />
            <apex:outputlabel value="Cancel" styleclass="btn" onclick="exit();" style="padding: 4px;" />
            <!-- <apex:commandButton value="Cancel" action="{!cancel}" /> -->
        </apex:pageBlockButtons>
    </apex:pageBlock>     

    <script>
        var closeSubtab = function closeSubtab(result) {
                var tabId = result.id;
                console.log(tabId);
                sforce.console.closeTab(tabId);
            };
		
		var showTabId = function showTabId(result){
                var tabId = result.id;
                console.log(tabId);
                sforce.console.refreshPrimaryTabById(tabId , true);
           };

		function exit(){
			console.log(sforce.console.isInConsole());
			if (sforce.console.isInConsole()){
				console.log('a');
				console.log(sforce.console.getEnclosingTabId(closeSubtab));
				//sforce.console.getEnclosingPrimaryTabId(showTabId);
				sforce.console.getEnclosingTabId(closeSubtab);
				//setSidebarVisible(false);
			}
			else{
				console.log('b');
				window.location.href = '/{!addr.Id}';
			}
		}

		function setTabTitle() {
			console.log('IsinConsole:'+sforce.console.isInConsole());
			if (sforce.console.isInConsole()){
				sforce.console.setTabTitle('New Address');
			}
		}

		var previousOnload = window.onload;        
		window.onload = function() { 
			if (previousOnload) { 
				previousOnload();
			}
			if (sforce.console.isInConsole()){                
				setTimeout('setTabTitle()', '500'); 
			}
		}
    </script>


    </apex:form>

</apex:page>