<apex:page standardController="Case" standardStylesheets="false">
    <apex:pageMessages />
    <apex:includeLightning />
    <apex:stylesheet value="{!URLFOR($Resource.smagicinteract__LightningDatePicker,'')}"/>
    <div id="lightning" />
    <script>
    var IdList = '[{!$CurrentPage.parameters.id}]';
    var objectName="Case";
    var mobileFields="Primary_Contact_Phone_MC__c;Co_Applicant_Phone_MC__c";//If you want to enter multiple fields then please seperate by semi-colon.
    
    var isOptOut=false;
    var nameField = "Primary_Contact_Name_MC__r.Name";
    var unrelatedObjects = "";//If you want to enter multiple objects then please seperate by semi-colon.
    $Lightning.use("smagicinteract:BulkSMSApp",function() {
        $Lightning.createComponent("smagicinteract:BulkSMSComponent",{
            "IdList"                : IdList,
            "objectName"            : objectName,
            "mobileFields"      : mobileFields,
            "optOutCheckBox"        : isOptOut,
            "nameField"         : nameField,
            "unrelatedObjects"  : unrelatedObjects,
            "renderRecipientList"   : true
        },"lightning",function(cmp) {});
    });
    </script>
</apex:page>