<apex:page showHeader="false" sidebar="false">
    <apex:includeScript value="/support/console/42.0/integration.js"/>
    <!-- This loads the JavaScript file needed to use Lightning Components for Visualforce-->
    <apex:includeLightning />
    
    
    <!-- div tag act as locator while calling Lightning.createComponent -->
    <div id="lightning"/>
    
    <script>
        sforce.console.setTabTitle('Profile Switcher');
        $Lightning.use("c:SupportProfileSwitcherApp", function() {
   			$Lightning.createComponent("c:SupportProfileSwitcher","","lightning",
            function(cmp) {
            	console.log('hellolightning.');
                /*$A.eventService.addHandler({
                    event: 'force:showToast',
                    handler: function(event) { 
                        var lexOrigin = "https://positive-group--uat.cs137.my.salesforce.com";
                        var message={type: "EventFromVF",
                                     message: event.getParams().message};
                        parent.postMessage(message, lexOrigin);
                    }
                });*/
            });
        });
    </script>

</apex:page>